In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.preprocessing import StandardScaler

In [2]:
temp = pd.read_csv(r'\Users\George Hu\Downloads\CaliTemp.csv')

In [3]:
temp = temp.drop(["Los Angeles", "Los Angeles.1"], axis = 1)

In [4]:
temp = temp.loc[9:23]

In [5]:
temp = temp.rename(columns={"location":"Date","Los Angeles.2":"LA_Temperature"})

In [6]:
temp['Date'] = temp['Date'].str.replace(r'T0000','')

In [7]:
temp["Date"] = temp["Date"].str[:4] + "-" + temp["Date"].str[4:6] + "-" + temp["Date"].str[6:8]

In [8]:
temp = temp.reset_index()
temp

    index        Date LA_Temperature
0       9  2021-12-16      51.315693
1      10  2021-12-17      54.567684
2      11  2021-12-18      51.243694
3      12  2021-12-19        52.0417
4      13  2021-12-20      54.191193
5      14  2021-12-21      58.452694
6      15  2021-12-22      58.013187
7      16  2021-12-23       54.55869
8      17  2021-12-24        55.3822
9      18  2021-12-25      52.079193
10     19  2021-12-26      50.969936
11     20  2021-12-27       49.20819
12     21  2021-12-28       48.82794
13     22  2021-12-29      49.235195

In [9]:
temp = temp.drop(["index"], axis = 1)

In [10]:
temp['Date'] = temp['Date'].str.replace(r'2021-12-','')

In [11]:
temp["Date"] = pd.to_numeric(temp["Date"])

In [12]:
x = temp["Date"]
y = temp["LA_Temperature"]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=123)
x_train = pd.Series(x_train).array
x_test = pd.Series(x_test).array
y_train = pd.Series(y_train).array
x_train = x_train.reshape(-1,1)
x_test = x_test.reshape(-1,1)
y_train = y_train.reshape(-1,1)
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)
LRmodel = LogisticRegression()
LRmodel.fit(x_train, y_train)
y_pred = pd.Series(LRmodel.predict(x_test))
y_test = y_test.reset_index(drop=True)
z = pd.concat([y_test, y_pred], axis = 1)
z.columns = [["True","Prediction"]]
z.head()

C:\Users\George Hu\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

        True Prediction
0   54.55869    55.3822
1  50.969936  49.235195
2  54.191193  54.567684
3  51.315693  54.567684